@CHARSET "UTF-8";

body {
	background: url("../img/bg.png");
	background-repeat: repeat-x;
	background-color: rgb(86%, 86%, 86%);
}

#javax_faces_developmentstage_messages {
	display: none;
}

.HC_headBanner {
	background-image: url("../img/chat_head.png");
	background-repeat: no-repeat;
	height: 61px;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.HC_headBannerText {
	color: white;
	font-size: 24px;
	left: 20px;
	top: 20px;
	font-weight: bold;
	position: relative;
	float: left;
}

.HC_content {
	background-color: white;
	border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	padding-top: 20px;
}

.HC_content h2,.HC_user {
	margin: 20px;
}

.HC_chat {
	border: 1px solid #D6D6D6;
	max-height: 260px;
	overflow: auto;
}

.HC_user {
	
}

.HC_chat_userlist {
	border: 1px solid #D6D6D6;
	max-height: 260px;
	overflow: auto;
}

.HC_footer {
	width: 100%;
	height: 80px;
	background-color: black;
	bottom: 0px;
	position: absolute;
}

.HC_headBannerLanguage {
	float: right;
	margin: 20px;
}

.HC_headBannerLanguage a {
	color: white;
	margin-left: 10px;
}

.HC_headBannerLanguage a:ACTIVE, .HC_headBannerLanguage a:VISITED {
	color: white;
	text-decoration: none;
}

.HC_lang_active {
	font-weight: bold;
	text-decoration: underline;
}

.wrapper {
	width: 94%;
	margin: 2% 3%;
}

.alert {
	margin: 0 5% 2% 5%;
}

ul.alert {
	list-style-type: none;
}